@import 'vars'


.articles            
    width: 100vw
    display: flex
    justify-content: center
    margin-bottom: 200px
    position: relative

    &-heading
        width: 500px
        height: 180px
        padding: 41px
        position: absolute
        left: calc(50% - 500px / 2)
        top: 180px
        border-radius: 37px 37px 0px 0px
        background: $siteColor
        display: flex
        flex-direction: column 
        align-items: center
        box-sizing: border-box

        &__title
            color: $titleFontColor
            font-family: 'DM Serif Display'
            font-size: 50px
            font-style: normal
            font-weight: 400
            line-height: 125%

        &__nav__breadcrumbs
            color: $textFontColor
            font-family: 'Jost'
            font-size: 22px
            font-style: normal
            font-weight: 400
            line-height: 150%
            letter-spacing: 0.22px   

            &:not(:last-child):after
                padding: 6px
                color: $textFontColor 
                font-weight: 400
                content: "/\00a0"                     

.post
    margin-bottom: 150px

    &__title    
        color: $titleFontColor
        margin-bottom: 33px
        font-family: 'DM Serif Display'
        font-size: 50px
        font-style: normal
        font-weight: 400
        line-height: 125%
        letter-spacing: 1px    

    &-content
        width: 100%
        border-radius: 62px
        border: 1px solid #E7E7E7
        box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25)   
        box-sizing: border-box  
        padding: 22px
        display: flex
        justify-content: space-between
        align-items: center

        &__img
            border-radius: 62px
        
        &__info
            width: 470px
            padding-right: 40px

            &__title
                color: $titleFontColor
                font-family: 'DM Serif Display'
                font-size: 25px
                font-style: normal
                font-weight: 400
                line-height: 125%
                letter-spacing: 0.5px
                margin-bottom: 22px

            &__text
                color: $textFontColor
                font-family: 'Jost'
                font-size: 22px
                font-style: normal
                font-weight: 400
                line-height: 150%
                letter-spacing: 0.22px               
                margin-bottom: 40px

            &__page
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center
                margin-bottom: 33px

                &__date
                    color: $textFontColor
                    font-family: 'Jost'
                    font-size: 16px
                    font-style: normal
                    font-weight: 400
                    line-height: 150%
                    letter-spacing: 0.16px
                    text-transform: capitalize

                &__next
                    color: $textFontColor
                    font-family: 'Jost'
                    font-size: 16px
                    font-style: normal
                    font-weight: 400
                    line-height: 150%
                    letter-spacing: 0.16px
                    text-transform: capitalize        
                    width: 52px
                    height: 52px
                    border: none
                    border-radius: 26px
            
.news
    &-heading__blog
        width: $siteWidth
        box-sizing: border-box
        margin-bottom: 30px

        &__title
            text-align: start

    &-pages
        margin-top: 50px
        margin-bottom: 80px
        display: flex
        justify-content: center
        gap: 20px

        &__blog   
            font-family: 'Jost'
            font-size: 16px
            font-style: normal
            font-weight: 500
            line-height: 150%
            text-transform: capitalize 
            color: #292F36
            background: $siteColor
            border: solid $infoColor 2px
            border-radius: 26px


