@import 'vars'

* 
  margin: 0
  padding: 0

body
  font-family: 'Jost', 'DM Serif Display', sans-serif

a 
  text-decoration: none

.center 
  padding-left: calc(50% - $siteWidth / 2)
  padding-right: calc(50% - $siteWidth / 2)

.header 
  margin-top: 52px
  margin-bottom: 60px
  min-height: 50px
  display: flex
  justify-content: space-between
  align-items: center

  &-left
    &__link
      color: $titleFontColor
      font-family: 'DM Serif Display'
      font-size: 40px
      font-style: normal
      font-weight: 400
      text-align: center

      img
        padding-right: 10px
  
  &-right
    width: 244px
    display: flex
    justify-content: space-between
    align-items: center

    &__link    
      color: $titleFontColor
      text-align: center
      font-family: 'Jost'
      font-size: 20px
      font-style: normal
      font-weight: 400

.banner
  margin-bottom: 100px

  &-content 
    position: relative

    img
      border-radius: 60px

    &-info
      position: relative
      width: 434px
      position: absolute
      top: 180px
      left: 50px

      &__title
        margin-bottom: 18px
        color: $titleFontColor
        font-family: 'DM Serif Display'
        font-size: 65px
        font-style: normal
        font-weight: 400
        line-height: 125%

      &__text
        margin-bottom: 46px
        color: $textFontColor
        font-family: 'Jost'
        font-size: 22px
        font-style: normal
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.22px   

      &__link
        padding: 26px 48px 
        color: #FFF
        text-align: center
        font-family: 'Jost'
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 125%
        letter-spacing: 0.36px 
        border-radius: 18px
        background: $titleFontColor
        box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.5) 

        img
          padding-left: 10px 
          padding-top: 10px 

.project
  margin-bottom: 100px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  &-heading
    width: 740px
    margin-bottom: 93px

    &__title
      margin-bottom: 10px
      color: $titleFontColor
      text-align: center
      font-family: 'DM Serif Display'
      font-size: 50px
      font-style: normal
      font-weight: 400
      line-height: 125%
      letter-spacing: 1px

    &__text
      color: $textFontColor
      text-align: center
      font-family: 'Jost'
      font-size: 22px
      font-style: normal
      font-weight: 400
      line-height: 150%
      letter-spacing: 0.22px

  &-content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 50px

    &__product:nth-child(4n+1)
      img
        border-top-right-radius: 80px    

    &__product:nth-child(4n+2)
      img
        border-top-left-radius: 80px           

    &__product:nth-child(4n+3)
      img
        border-bottom-right-radius: 80px           

    &__product:nth-child(4n)
      img
        border-bottom-left-radius: 80px 

    &__info
      margin-top: 24px
      display: flex
      justify-content: space-between

    &__title
      color: $titleFontColor
      font-family: 'DM Serif Display'
      font-size: 25px
      font-style: normal
      font-weight: 400
      line-height: 125%
      letter-spacing: 0.5px      

    &__breadcrumbs
      color: $textFontColor
      font-family: 'Jost'
      font-size: 22px
      font-style: normal
      font-weight: 400
      line-height: 150%
      letter-spacing: 0.22px

      &:not(:last-child):after
        padding: 6px
        color: $textFontColor 
        font-weight: 400
        content: "/\00a0"    

    &__next
      width: 70px
      height: 70px
      border: none
      border-radius: 35px

.counter
  background-color: $backgroundColor
  padding-top: 150px
  padding-bottom: 150px
  margin-bottom: 96px

  &-content
    display: flex
    justify-content: space-around

    &__info
      width: 290px
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center

      &:not(:last-child)
        border-right: solid 3px $infoColor

      &__title
        color: $infoColor
        font-family: 'DM Serif Display'
        font-size: 85px
        font-style: normal
        font-weight: 400
        line-height: 125%
        letter-spacing: 1.7px

      &__text
        color: $textFontColor
        font-family: 'Jost'
        font-size: 22px
        font-style: normal
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.22px       

.news
  margin-bottom: 96px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  &-heading
    width: 740px
    margin-bottom: 93px

    &__title
      margin-bottom: 10px
      color: $titleFontColor
      text-align: center
      font-family: 'DM Serif Display'
      font-size: 50px
      font-style: normal
      font-weight: 400
      line-height: 125%
      letter-spacing: 1px

    &__text
      color: $textFontColor
      text-align: center
      font-family: 'Jost'
      font-size: 22px
      font-style: normal
      font-weight: 400
      line-height: 150%
      letter-spacing: 0.22px

  &-content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: calc(($siteWidth - $articleWidth * 3) / 2)

    &__article 
      width: $articleWidth
      padding: 15px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      border-radius: 62px
      border: 1px solid #E7E7E7
      box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25)   
      box-sizing: border-box  
      position: relative

      &__img 
        width: calc($articleWidth - 10%)
        border-top-left-radius: 62px
        border-top-right-radius: 62px
        margin-bottom: 21px

      &__title 
        width: calc($articleWidth - 29%)
        color: $titleFontColor
        font-family: 'DM Serif Display'
        font-size: 25px
        font-style: normal
        font-weight: 400
        line-height: 125%
        letter-spacing: 0.5px
        margin-bottom: 40px
        text-align: left
    
    &__info
      width: calc($articleWidth - 10%)
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 33px

      &__date
        color: $textFontColor
        font-family: 'Jost'
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.16px
        text-transform: capitalize

      &__next
        color: $textFontColor
        font-family: 'Jost'
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.16px
        text-transform: capitalize        
        width: 52px
        height: 52px
        border: none
        border-radius: 26px

    &__category
      position: absolute
      top: 250px
      left: 35px  
      border-radius: 8px 8px 8px 0px
      background: #FFF
      padding: 4px 5px 8px 11px       


.footer
  display: flex
  justify-content: space-between
  margin-bottom: 134px

  &-info
      width: calc($siteWidth / 3 - 1.5%) 
      box-sizing: border-box
      display: flex
      flex-direction: column
      align-items: start
      gap: 20px

      &__logo
        color: $titleFontColor
        font-family: 'DM Serif Display'
        font-size: 40px
        font-style: normal
        font-weight: 400
        text-align: center

        img
          padding-right: 10px

      &__title
        color: $titleFontColor
        font-family: 'DM Serif Display'
        font-size: 25px
        font-style: normal
        font-weight: 400
        line-height: 125%

      &__text
        color: $textFontColor
        font-family: 'Jost'
        font-size: 22px
        font-style: normal
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.22px   

      &__link
        color: $textFontColor
        font-family: 'Jost'
        font-size: 22px
        font-style: normal
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.22px     

      &__social          
        padding-top: 14px

        &__linkedin
          margin-left: 40px

  &-center
    padding-left: 110px

  &-right
    padding-left: 110px
